{% extends 'base.html' %}
{% block content %}



         <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active">Add Fish</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" style="margin:0 auto">

                        <div class="register-form">

                           <form method="post" action="{% url 'add_fish_action' %}" enctype="multipart/form-data" >

                                {% csrf_token %}

                            <div class="row">
                                <div class="col-md-12">
                                    <label>Name:</label>
                                    <input type="text" name="name" class="form-control" required>
                                </div>
                                <div class="col-md-12">
                                    <label>Photo:</label>
                                    <input type="file" name="photo" class="form-control" required>
                                </div>
                                <div class="col-md-12">
                                    <label>Quantity (kg):</label>
                                    <input type="number" name="quantity" class="form-control" required>
                                </div>
                                 <div class="col-md-12">
                                    <label>Price (rs):</label>
                                    <input type="number" name="price" class="form-control" required>
                                </div>
                                <div class="col-md-12">
                                    <label>Start time:</label>
                                    <input type="text" name="start_time" id="start_time" class="form-control" required>
                                </div>
                                <div class="col-md-12">
                                    <label>End time:</label>
                                    <input type="text" name="end_time" id="end_time" class="form-control" required>
                                </div>

                                <div class="col-md-12">
                                    <button type="submit" class="btn" onclick="return checkTimes()">Add</button>
                                </div>

                            </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>


   {% if messages %}
            {% for message in messages %}
                <script>
                    alert('{{ message }}');
                </script>
            {% endfor %}
        {% endif %}

<script src="/static/jquery-3.5.1.js"></script>
<script>
    $(document).ready(function(){
        $("#start_time").change(function(){

            $.ajax({
                url: "{% url 'checktime' %}",
                data: { 'time': $("#start_time").val() },
                success: function (data) {
                    if(data.status == "not ok"){
                        alert("Time selected is less than current time");
                        $("#start_time").val('');
                    }
                }

            });
        });
        $("#end_time").change(function () {

            $.ajax({
                url: "{% url 'checkendtime' %}",
                data: { 'stime': $("#start_time").val(),'etime':$("#end_time").val()},
                success: function (data) {
                    if (data.status == "no stime") {
                        alert("Please select starting time first");
                        $("#end_time").val('');
                    }
                    else if (data.status == "not ok") {
                        alert("Selected time is less than startimg time");
                        $("#end_time").val('');
                    }
                }

            });
        });

    });
    function checkTimes() {
        var stime = document.getElementById("start_time");
        var etime = document.getElementById("end_time");
        if (stime.value.length == 0) {
            alert("Please select starting time");
            return false;
        }
        else if (etime.value.length == 0) {
            alert("Please select ending time");
            return false;
        }
        return true;
    }
</script>
{% endblock %}




























