{% extends 'base.html' %}
{% block content %}

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'view_fish' %}">Fishes</a></li>
                    <li class="breadcrumb-item active">Biddings</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Cart Start -->
        <div class="cart-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8" style="margin:0 auto">
                        <div class="cart-page-inner">
                            <div class="table-responsive">
                                {% if auctn %}
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                           <td>Price</td>
                                            <td>Username</td>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                    {% for v in auctn %}
                                        <tr>
                                            <td>{{v.price}}</td>
                                            <td>{{v.cust_id.username}}</td>
                                            <td><a href="{%  url 'cust_details' v.cust_id_id fish_id %}">Customer Details</a></td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <center><span>No Biddings</span></center>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Cart End -->
{% if msg %}
        <script>
            alert('{{ msg }}');
        </script>
        {% endif %}
{% endblock %}
