<table class="table table-bordered" id="tab">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                               <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                    {% for v in fish %}
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="{{v.photo.url}}"><img src="{{v.photo.url}}" alt="Image"></a>
                                                    <p>{{v.name}}</p>
                                                </div>
                                            </td>
                                             <td>{{v.quantity}}</td>
                                            <td>{{v.price}}</td>
                                                <td>{{v.start_time}}</td>
                                                <td>{{v.end_time}}</td>
                                                <td>{{v.date}}</td>
                                                 <td>{{v.status}}</td>
                                                 <td><a href="{% url 'delete_fish' v.id %}">Delete</a></td>
                                                
                                                 {% if v.status != 'expired' %}
                                                         <td><a href="{% url 'update_fish' v.id %}">Update</a></td>
                                                        <td><a href="{% url 'fish_view_auction' v.id %}">View auctions</a></td>

                                                {%  else %}
                                                    <td></td>
                                                <td></td>
                                                {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>