
                <table class="table table-bordered" id="tb">
                                    <thead class="thead-dark">
                                        <tr>
                                            
                                            <th>Fish</th>
                                            <th>Quantity</th>
                                            <th>Starting price</th>
                                            <th>Start time</th>
                                            <th>End time</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                    {% for fish in fs %}
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="{{fish.photo.url}}"><img src="{{fish.photo.url}}" alt="Image"></a>
                                                    <p>{{fish.name}}</p>
                                                </div>
                                            </td>
                                             <td>{{fish.quantity}}</td>
                                                <td>{{fish.price}}</td>
                                            <td>{{fish.start_time}}</td>
                                            <td>{{fish.end_time}}</td>
                                            <td>{{fish.date}}</td>
                                            <td>{{fish.status}}</td>
                                            {% ifequal fish.status 'Ongoing' %}
                                                <td><a href="{%  url 'biddingg' fish.id %}">Bid</a></td>
                                            {% endifequal %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                       </table>
          
          
          
          
    