<table class="table table-bordered" id="tb">
                                    <thead class="thead-dark">
                                        <tr>
                                            
                                            <th>Owner name</th>
                                            <th>Fish name</th>
                                            <th>Starting price</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                    {% for v in dtls %}
                                         <tr>
                                                <td>{{v.owner_id.fname}}</td>
                                                <td>{{v.name}}</td>
                                                <td>{{v.price}}</td>
                                                <td>{{v.date}}</td>
                                                <td>{{v.status}}</td>
                                                <td><a href="{% url 'view_details_manager' v.id %}">View Details</a> </td>
                                         </tr>
                                    {% endfor %}
                                    </tbody>
 </table>


