{% extends 'base.html' %}
{% block content %}

         <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active">Login</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" style="margin:0 auto">

                        <div class="register-form">

                            <form method="post" action="{% url 'login_action' %}">
                                {% csrf_token %}

                            <div class="row">


                                <div class="col-md-12">
                                    <label>Username</label>
                                    <input type="text" name="username" class="form-control" required>
                                </div>
                                <div class="col-md-12">
                                    <label>Password</label>
                                    <input type="password" name="password" class="form-control" required>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn">Login</button>
                                </div>

                            </div>
                            </form>
                            <br/>
                            <a href="{% url 'forgot_password'  %}">Forgot Password?</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% if messages %}
        {% for message in messages %}
            <script>
                alert('{{message}}');
            </script>
        {% endfor %}
    {% endif %}

   {% if msg %}
    <script>
    alert('{{ msg }}');
    </script>
    {% endif %}
{% endblock %}