<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<ul>

    <li><a href="{% url 'view_profile_owner'  %}">View Profile</a><br></li>
    <li><a href="{% url 'add_boat'%}"> Add boat </a><br></li>
    <li><a href="{% url 'add_employee'%}"> Add employee </a><br></li>
    <li><a href="{% url 'view_boats'%}"> View boats </a><br></li>
    <li><a href="{% url 'view_employees'%}"> View Employees </a><br></li>
    <li><a href="{% url 'add_fish'%}"> Add fish </a><br></li>
    <li><a href="{% url 'view_fish'%}"> View fish </a><br></li>
 fathimthus   <li><a href="{% url 'logout'%}"> Logout </a><br></li>

</ul>
</body>
</html>