{% extends 'base.html' %}
{% block content %}

         <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'view_boats' %}">Boats</a></li>
                    <li class="breadcrumb-item active">Update Boat</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" style="margin:0 auto">

                        <div class="register-form">

                             <form method="post" action="{% url 'Update_boat_action' %}" enctype="multipart/form-data">
                                 {% csrf_token %}
                                 {% for boat in data %}
                                <input type="hidden" name="hid" value="{{boat.id}}">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="{{boat.photo.url}}" height="100px" width="100px" alt="No pic"><br /><br />
                                </div>
                                <div class="col-md-12">
                                    <label>Name:</label>
                                    <input type="text" name="name"  value="{{boat.name}}" class="form-control" required>
                                </div>
                                <div class="col-md-12">
                                    <label>Registration number:</label>
                                 <input type="text" name="regno"  value="{{boat.regno}}" class="form-control" required>
                                 </div>
                                <div class="col-md-12">
                                    <label>Photo:</label>
                                    <input type="file" name="photo" class="form-control" required>
                                </div>
                                <div class="col-md-12">
                                    <label>Number of employees:</label>
                                    <input type="text" name="no_of_empl" value="{{boat.no_of_empl}}" class="form-control" required>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn">Update</button>
                                </div>

                            </div>
                                 {% endfor %}
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>


   {% if messages %}
            {% for message in messages %}
                <script>
                    alert('{{ message }}');
                </script>
            {% endfor %}
        {% endif %}

{% endblock %}
   
        
       
        